.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-self: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.uploadButton {
  margin: 0 auto;
  width: 10%;
}

.uploadForm {
  display: flex;
  margin: 1rem auto;
  flex-direction: column;
  justify-content: center;
}
